modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = 38319390

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"

[[workflows.workflow]]
name = "Frontend"
author = 38319390

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
